/* Navigation Bar */
.navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid;
    margin-bottom: 1em;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: .2em solid #ddd;
    padding: 1em;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* Calendar Styles */
.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.calendar > h2 {
    font-size: 1em;
}

hr {
    margin: 0;
}

.table-time {
    width: 4em;
}

/* Day Columns Styles */
td[class^="Mon"],
td[class^="Tues"],
td[class^="Wed"],
td[class^="Thur"],
td[class^="Fri"] {
    padding: 0;
}

/* Main Container */
.main-container {
    display: flex;
    flex-direction: row;
}

/* Right Side Styles */
.right-side {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Dropdown Styles */
.dropdown > * {
    text-align: center;
}

/* Button Styles */
button {
    width: 100%;
    padding: 1em;
    padding-left: 5em;
    padding-right: 5em;
}

/* Majors Styles */
.majors-entire {
    display: none;
    flex-direction: column;
}

.major-option:hover {
    background-color: grey;
    cursor: pointer;
}
