<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>AntAlmanac Killer</title>
</head>
<body>
    <nav class="navBar">
        <h1>Welcome to your new AI driven class planner!</h1>
    </nav>
    <div class="calendar">
        <h2>Your Weekly Schedule</h2>
        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    {% for day in days %}
                        <th>{{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for hour in hours %}
                {% set x = "am" if hour < 11 else "pm" %}
                    <tr>
                        <td>{{hour % 12 + 1}} {{x}}</td>
                        {% for day in days %}
                            <td>{{ day }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>